# Gradle cache folder
.gradle

# Kotlin cache folder
.kotlin

# Idea configuration folder
.idea

# Build directory
.build

# Local properties
local.properties

# Others
kotlin-playground/src/main/kotlin/com/kotlin/playground/KotlinFunGround.kt