# Gradle cache folder
.gradle

# Idea configuration folder
.idea

# Kotlin cache folder
.kotlin

# Build folder
.build

# Local & application properties
local.properties

# Other
kotlinPlayground/src/main/kotlin/com/kotlin/playground/KotlinFunground.kt